<div *ngIf="book">
  <h2>{{book.name}} details!</h2>
  <div>
    <label>id: </label>{{book.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="book.name" placeholder="name" />
   </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
  <button (click)="delete()">Delete</button>
</div>